Adafruit-Blinka==2.1.4
adafruit-circuitpython-busdevice==3.0.0
adafruit-circuitpython-framebuf==1.1.0
adafruit-circuitpython-seesaw==1.4.1
adafruit-circuitpython-ssd1306==2.6.3
adafruit-circuitpython-tsl2591==1.1.2
Adafruit-PlatformDetect==1.0.7
Adafruit-PureIO==0.2.3
Pillow==6.0.0
rpi-ws281x==4.1.0
RPi.GPIO==0.6.5
spidev==3.4
sysv-ipc==1.0.0
